* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    box-sizing: border-box;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;
}

h2 {
  vertical-align: center;
  text-align: center;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}