
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1440px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    background-color: #f0f4f5;
    display: flow-root;
    z-index: -2;
}

/* ! ----NAVBAR---- */

.navbar-container {
    display: flex;
    justify-content: space-between;
    margin: 2% 5% 0;
    align-items: center;
}

.nav-list {
    display: flex;
    gap: 4rem;
}

.lists {
    list-style-type: none;
    font-weight: 600;
}

.lists:first-child {
    color: #20bc7e;
}

/*! ----MAIN-AREA---- */

.main-area {
    display: flex;
    justify-content: space-between;
}

/* &----lEFT-AREA----  */

.left-area {
    margin-top: 0;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 5%;
}

h1 {
    font-size: 4rem;
    max-width: 38rem;
    padding-top: 3%;
}

p {
    color: #808080;
    font-size: 1.1rem;
    margin: 1.5rem 0 ;
    max-width: 36rem;
}

.Appointment {
    background-color: #20bc7f;
    color: #ffffff;
    border: none;
    border-radius: 2rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    max-width: 20rem;
}

.topAngleImg {
    width: 2rem;
}

.bottomAngleImg {
    width: 2rem;
    position: absolute;
    right: 2rem;
    bottom: 7rem;
}

.mouseImg {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 40rem;
    bottom: 3.2rem;
}

.stethoscopeImg {
    width: 32rem;
    z-index: -2;
    position: absolute;
    left: 26%;
}

/* &----RIGHT-AREA---- */

.right-area {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
}

.yellowBoxImg {
    width: 20rem;
    height: 20rem;
    z-index: 0;
    position: absolute;
}

.greenBoxImg {
    width: 25rem;
    height: 25rem;
    z-index: 0;
    position: absolute;
    right: 1rem;
}

.doctorImg {
    width: 25rem;
    height: 33.5rem;
    position: relative;
    bottom: 1.6rem;
    right: 0.5rem;
    z-index: 2;
}