
/* & -------------------------------------------- */
/* !----Max-width---- */
.one{
    border: 2px solid blue;
    margin: 2rem 0;
    padding: 2rem 0;
    width: 800px;
}
/* max-width makes the div width to a maximum of 800px
    but not a fixed width of 800px unlike the "one" div.
    It is going to minimize the width according to the 
    viewport width*/
.two{
    border: 2px solid yellow;
    margin: 2rem 0;
    padding: 2rem 0;
    max-width: 800px;
}
/*& --------------------------------------------- */

/* !----Float---- */

.avatar{
    border: 2px solid purple;
}

.avatar-poster{
    max-width: 8rem;
    /* float: right; */
    /* float: top; */
    float: left;
}
/*& --------------------------------------------- */

/* !----Text-shadow---- */

.shadow{
    border: 2px solid gray;
    max-width: 400px;
}

.shadow p{
    font-size: 3rem;
    font-weight: 600;
    /* color: chocolate; */
    color: #000000;
    /* text-shadow: 4px 4px; */
    /* text-shadow: 4px 4px blue; */
    /* text-shadow: 4px 4px 8px blue; */
    /* text-shadow: 0 0 5px #205295; */
    /* ^ Multiple-shadow testing */
    /* text-shadow: 0 0 8px #DC0000, 0 0 10px #0000FF; */
    /* ^ Border-text  */
    text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
}