*{
    margin:0;
    padding:0;
}

body{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #161616;
    overflow:auto;
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* !----Front-Page---- */
/* & Navigation Bar */

.nav-bar{
    display: flex;
    justify-content: space-between;
    margin: 1% 5%;
    align-items: center;
}

.logoImg{
    width: 6rem;
}

.menu{
    width: 30%;
}

.list{
    display: flex;
    justify-content: space-between;
}

.list-items{
    list-style-type: none;
    font-size: 0.9rem;
    color: #ffffffe0;  
}

.buttons{
    display: flex;
    font-size: 0.95rem;
    align-items: center;
    color: #ffffffe0;    
}

.caret-down{
    font-size: 0.6rem;
    position: relative;
    bottom: 2px;
}

.pink-grad1{
    position: relative;
    left: 16%;
    top: 2px;
    z-index: -1;
}


/* & Hero-Section-First */

.hero-first{
    margin-top: 2%;
    margin-left: 5%;
    display: flex;
}
/* todo---Left Division */

.left-side{
    width: 80%;
    margin-bottom: 8%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 4rem;
    padding-top: 5%;
}

.main-tagline{
    font-size: 4rem;
    font-weight: 100;
}

.joining{
    padding-top: 4%;
    color: #b9b5b5;
}

.one{
    color: #F637EC;
    font-weight: 700;
}

.start{
    display: flex;
    align-items: center;
}

.pink-grad2 img{
    height: 1.6rem;
    position: relative;
    top: 2px;
}

.get{
    position: relative;
    right: 5%;
    font-weight: 700;
}

.credibility-1{
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.users, .experience{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.number{
    font-size: 2rem;
    font-weight: 700;
}

.plus{
    font-size: 2rem;
    font-weight: 700;
    color: #F637EC;
    position: relative;
    right: 12%;
}

.users> p:nth-of-type(2), .experience> p:nth-of-type(2){
    color: #ffffffe0;
}

/* todo---Right-Division */
.cards{
    z-index: -10;
    display: flex;
    width: 40%;
    position: relative;
    right: 18.75rem;
}

.lowerSection{
    z-index: -1;
    width: 45rem;
    position: relative;
    bottom: 10%;
    left: 5rem;
}

.lowerSection img{
    width: 42rem;
}

.upperSection{
    z-index: 2;
    position: relative;
    right: 24.68rem;
    top: 0.31rem;
}

.upperSection img{
    width: 42rem;
    overflow-x: hidden;
}

/* !----Logo-bar---- */
.logo-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #292929;
    gap: 6%;
}

.logobarImg{
    width: 8%;
    padding: 3% 0%;
}

/* !----Second-page---- */

.second-page{
    margin: 3% 5% 0;
}
.payment{
    display: flex;
    justify-content: space-between;
    padding: 6% 0;
}

.payment h2{
    font-size: 4rem;
    font-weight: 100;
    line-height: 1.2;
}

.transaction{
    color: #F637EC;
    font-weight: 700;
}

.payment p{
    color: #b9b5b5;
    padding-top: 6%;
    line-height: 1.5;
}

/* & ---Feature-Cards-- */

.feature-cards{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 8%;
    padding: 10% 0;
    
}

.first-card{
    border: 1.5px solid;
    border-image: linear-gradient(to bottom right, #b9b5b5, #000000) 70;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    background-color: #2d2c2c;
    transition: 0.3s;
}

.first-card:hover, .third-card:hover{
    scale: 1.1;
    background-color: #5a5858;
    cursor: pointer;
}

.second-card{
    border: 2px solid;
    border-image: linear-gradient(to bottom right, #ffffff, #8c8383) 30;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10%;
    position: relative;
    bottom: 3rem;
    background-image: linear-gradient(to bottom right, #4e4b4b, #858080);
    transition: 0.3s;
}

.second-card:hover{
    cursor: pointer;
    background-image: linear-gradient(to bottom right, #191818, #5d5a5a);
}

.third-card{
    border: 1.5px solid;
    border-image: linear-gradient(to bottom right, #b9b5b5, #000000) 70;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    /* background-color: #232323; */
    background-color: #2d2c2c;
    transition: 0.3s;
}

/* !----Third-page---- */

.third-page{
    background-color: #ffffff;
    padding-bottom: 0;
    margin-bottom: 0;
}

.unique-cards{
    margin: 0 5%;
    padding-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.unique-cards h2{
    font-size: 5rem;
    color: #000000;
    font-weight: 100;
    text-align: center;
}

.choice-text{
    color: #F637EC;
    font-weight: 700;
}

.unique-cards p{
    color: #a19d9d;
    text-align: center;
    font-size: 1.2rem;
    padding-top: 10%;
}

.cards-bgc img{
    width: 100%;
    height: 40%;
    
}

.cards-bgc{
    z-index: 10;
    position: relative;
    bottom: 2rem;
}

/* !----Fourth-page---- */
.headings-pg4 h2{
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
}

.headings-pg4 span{
    color: #F637EC;
    font-weight: 700;
}

.headings-pg4 p{
    font-size: 1.2rem;
    color: #a19d9d;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 8%;
}

.review-section{
    margin: 10% 5%;
}

.review-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15rem;
    row-gap: 5rem;
}


.box-1{
    border: 2px solid;
    border-image: linear-gradient(to bottom right, #ffffff, #8c8383) 30;
    padding: 1.5rem 1.5rem 0;
    line-height: 1.5;
    height: 230px;
    background-image: linear-gradient(to bottom right, #4e4b4b, #858080);
}

.box-1 p:nth-of-type(1){
    padding: 2rem 0;
}

.box-2{
    border: 1.5px solid;
    border-image: linear-gradient(to bottom, #b9b5b5, #000000) 70;
    padding: 1.5rem;
    line-height: 1.5;
    background-color: #2d2c2c;
}

.box-2 p:nth-of-type(1){
    padding: 2rem 0;
}

.box-3{
    border: 1.5px solid;
    border-image: linear-gradient(to bottom, #b9b5b5, #000000) 70;
    padding: 1.5rem;
    line-height: 1.5;
    background-color: #2d2c2c;
}

.box-3 p:nth-of-type(1){
    padding: 2rem 0;
}

.box-4{
    border: 1.5px solid;
    border-image: linear-gradient(to bottom, #b9b5b5, #000000) 70;
    padding: 1.5rem;
    line-height: 1.5;
    background-color: #2d2c2c;
}

.box-4 p:nth-of-type(1){
    padding: 2rem 0;
}

.pill-dots{
    margin: 5%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.pill{
    border-radius: 8%/50%;
    width: 6rem;
    height: 0.8rem;
    background-color: #F637EC;
    box-shadow: 0 0 2rem #F637EC;
}
.dot{
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    background-color: #797777;
}

/* !----Last-Page---- */

.banner{
    margin-top: 20%;
}

.banner-head{
    height: 600px;
}

.backRectangle{
    z-index: -10;
    position: relative;
    bottom: 34.5rem;
}

.diamonds{
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 71rem;
}

.left-diamonds{
    position: relative;
    top: 2rem;
    transform: scaleX(-1);
}

.right-diamonds{
    position: relative;
    top: 3.5rem;
    right: 0.3rem;
    transform: rotate(4deg);
    transform: scaleX(-1);    
}

.heading-last{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 94rem;
}

.heading-last h3{
    font-size: 5rem;
    text-align: center;
}

.heading-last span{
    color: #000000;
}

.start2{
    display: flex;
    padding-top: 3rem;
}
.get-2{
    position: relative;
    right: 2.3rem;
    top: 0.5rem;
    font-weight: 700;
}
.pink-grad3 img{
    width: 4rem;
    height: 2rem;
}

/* !---Footer--- */

footer{
    display: flex;
    margin: 5% 5%;
    align-items: center;
    gap: 15rem;
}

.logoImgFooter{
    width: 6rem;
}

.list-2{
    display: flex;
    gap: 5%;
}

.list-2 li{
    list-style-type: none;
    color: #ffffffe0;
    font-size: 0.9rem;
}